@page "/rankings"
@inject PlayerService PlayerService


<h1> Player Rankings </h1>

@if (PlayerService == null){
    <p>Cargando...</p>
}else{
    <table class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Club</th>
                <th>Overall Score</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players){
                <tr>
                    <td>@player.Rank</td>
                    <td>@player.Name</td>
                    <td>@player.Club</td>
                    <td>@player.OverallScore</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Player> players;

    protected override async Task OnInitializedAsync()
    {
        players = await PlayerService.GetRankingAsync();
    }
}