<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">PlayerRankingApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/classification" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Clasificacion
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/regressionlineal">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Regresion Lineal
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/clustering">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Clustering
            </NavLink>
        </div>
    </nav>
</div>

@using Microsoft.AspNetCore.Components.Routing

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
